body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #2fc7db;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}
.name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #208d16;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}